html
    head
        title craftdb documentation - #{title}
        script(src='/scripts/style-loader.js')
    body
        div.content!=contents
        div.x #{locals.local1} a
        //include preliminary-warning.html
        //include ../assets/preliminary-warning.html
        //each x in partials
        //    span #{x}