doctype html
html
    head
        title 'My Application'
        link(href='/styles/abc.css', rel='stylesheet')
        block head
    body
        block content
        div.marked gg
    footer
        block footer

