span Home Nested view index

script(src='/scripts/client/main-bundle-webpack.js')
//
    script(src='/jspm_packages/system.js')
    script(src='/scripts/client/system.config.js')
    script.
        SystemJS.import('jquery');
        SystemJS.import('scripts/client/app');