span Home Nested view index

script(src='/scripts/client/system.js')
script.
    SystemJS.config({
        defaultJSExtensions: true,
        baseURL: '/scripts/client'
    });
    SystemJS.import('app');