span Home Nested view index

script(src='/scripts/common/system.js')
script(src='/scripts/client/system.config.js')
script.
    SystemJS.import('jquery');
    SystemJS.import('scripts/client/app');
//
    SystemJS.config({
        defaultJSExtensions: true,
        baseURL: '/scripts/client'
    });
